.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  padding: 12px;
  font-size: 0.9rem;
  color: rgb(253, 252, 252);

  a {
    color: white;
    text-decoration: none;
  }

  &--black {
    background-color: black;
  }
}
